<div class="platforms faicons">
  <a target="_blank" href="https://www.instagram.com/yugal5"><i class="fab fa-instagram"></i></a>
  <a target="_blank" href="https://open.spotify.com/artist/27wHU75ErZe6LqBsdq3nmU"><i class="fab fa-spotify"></i></a>
  <a target="_blank" href="https://itunes.apple.com/us/artist/yugal-gurung/1443967391"><i class="fab fa-itunes"></i></a>
  <a target="_blank" href="https://soundcloud.com/yugal-1"><i class="fab fa-soundcloud"></i></a>
  <a target="_blank" href="https://www.youtube.com/user/cheparo5"><i class="fab fa-youtube"></i></a>
</div>
